#root {
  text-align: center;
  overflow: hidden;
}

.App {
  margin: 0;
}

.avatar-list {
  display: flex;
  height: 200px;
  align-items: center;
  overflow: hidden;
  padding: 0 100px;
}

.avatar-list-wrapper {
  margin: 0 200px;
  position: relative;
}

.avatar-list-wrapper::before,
.avatar-list-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  height: 200px;
  width: 100px;
  z-index: 2;
  pointer-events: none;
}

.avatar-list-wrapper::before {
  left: 0;
  background: linear-gradient(0.25turn, #f3b75e, #00000000);
}
.avatar-list-wrapper::after {
  right: 0;
  background: linear-gradient(0.25turn, #00000000, #f3b75e);
}
